.#{$prefix}-info-table {
  width: calc(100% - 64px);
  padding: 32px;
  background-color: $modal-background;
  color: white;
  font-size: 24px;

  animation-duration: 300ms;
  animation-name: tableIntro;


  &__title {
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 16px;
  }

  &__rows {
    display: flex;
    flex-wrap: wrap;
  }

  &__row {
    width: calc(50% - 16px);
    margin-right: 16px;
    margin-bottom: 4px;
    margin-top: 4px;

  }

  &__key {
    font-weight: 300;
    margin-right: 8px;
  }

  &__value {
  }
}

@keyframes tableIntro {
  from {
    opacity: 0;
    transform: translate3d(-25%, 0, 0);

  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

